@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
.explore-category-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2 s;
}
.explore-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Josefin Sans", sans-serif;
}
.explore-category-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 10px 0px;

  overflow-x: scroll;
}
.explore-category-list::-webkit-scrollbar {
  display: none;
}
.explore-category-list-item.active {
  border: 4px solid tomato;
  padding: 2px;
}
