@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.add {
  font-family: "Josefin Sans", sans-serif;
}
.add input {
  height: 50px;
  width: 100%;
  padding: 5px;
  font-size: medium;
  border-radius: 10px !important;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.add textarea {
  height: 80px;
  width: 100%;
  padding: 5px;
  font-size: medium;
  border-radius: 10px !important;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.add select {
  width: 30%;
  height: 50px;
  border-radius: 10px !important;
  padding: 5px;
}
.add .price {
  width: 30%;
  height: 50px;
  border-radius: 10px !important;
  padding: 5px;
}
.add img {
  width: 50%;
  height: 50%;
}
.add button,
.list-item button {
  background-color: rgb(52, 88, 44);
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.add {
  border: 1px solid rgb(52, 88, 44);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
tbody tr td img {
  height: 30%;
  width: 30%;
}
.tablescroll {
  overflow: auto;
}
.list-item {
  font-family: "Josefin Sans", sans-serif;
}

